<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="https://freesvg.org/img/1576669148crow-silhouette-freesvg.org.png" width="48px" alt="">
        </div>

        <div class="collaps navbar-collapse" *ngIf="show">
            <ul class="nav navbar-nav" *ngIf="!admin && isLoggedin">
                <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/internship">Internships</a></li>
                <li routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
            </ul>
            <ul class="nav navbar-nav" *ngIf="admin">
                <li routerLinkActive="active"><a routerLink="/manage/user">Manage User</a></li>
                <li routerLinkActive="active"><a routerLink="/manage/internship">Manage Internships</a></li>
            </ul>
            <ul class="nav navbar-nav" *ngIf="!isLoggedin">
                <li routerLinkActive="active"><a routerLink="/auth">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedin">
                <li>
                    <a style="cursor: pointer;" (click) = "onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>