<div class="alert alert-danger" *ngIf="error">
    <h3>Sorry couldn't find the user.</h3>
</div>
<div class="row" *ngIf="loaded && user">
    <div class="col-md-2" style="border: 3px solid blue;">
        <div class="row" style="margin-top: 10px">
            <img 
                class="center-block" 
                [src]= "user.profilePic"
                alt="Something went wrong x.x"
                width="128px">
        </div>
        <div class="row" style="padding-left: 6px; margin-top: 6px; padding-right: 6px;">
            <div style="text-align: center;">
                <h3>{{ user.userName }}</h3>
            </div>
            <div>
                <li>Name: {{ user.name }}</li>
                <li>E-mail: {{ user.email }}</li>
                <li>{{ user.category }}</li>
            </div>

            <hr>

            <div>
                <p>Here will be the Date Filter for Tweets</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <app-tweet
         *ngFor="let tweet of tweets;"
         [tweet]="tweet">
         </app-tweet>
    </div>
</div>